.App {
  text-align: center;
  background-image: url("../background/BiggerGeekierRulebook.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1px;
}

#root > div > div:nth-child(4) > div > div {
  display: flex;
  justify-content: center;
}

.player-info {
  padding-left: 100px;
}

.deckName {
  font-size: 22px;
  background-color: white;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 3px solid;
}

.deckContainer {
  border: 3px solid;
}

.randomButton {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid;
}

.resetButton {
  padding: 10px;
  border: 2px solid;
}

.randomNumber {
  font-size: 20px;
  border: 2px solid;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.rollButton {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  margin-right: 5px;
  border: 2px solid;
}

.resetNumButton {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  margin-left: 5px;
  border: 2px solid;
}

.playerNameLabel {
  background-color: white;
  padding: 0 2px 0 2px;
  border: 1px solid;
}

.winningDeckLabel {
  background-color: white;
  padding: 0 2px 0 2px;
  border: 1px solid;
}

.addWinLabel {
  background-color: white;
  padding: 0 2px 0 2px;
  border: 1px solid;
}

.addWinButton {
  padding: 5px;
  border: 2px solid;
}

.fieldWrapper {
  margin: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#playerName {
  margin-bottom: 5px;
  border: 1px solid;
}

#decks {
  margin-bottom: 5px;
  border: 1px solid;
}

#number {
  margin-bottom: 5px;
  border: 1px solid;
}

.player-name {
  background-color: white;
  border: 1px solid;
  width: 130px;
}

.deck-info {
  background-color: white;
  border: 1px solid;
}
